/* index */
.navbar-bgc {
  background-color: #6a5acd;
}

.navbar .navbar-header .navbar-fntc {
  color: #ffffff;
}

/* date-picker */
#select_month {
  z-index: 1000;
}


.idx-tbl table {
  position: relative;
  background-color: #f5f5dc;
  border-collapse: separate;
  border-spacing: 0px;
  border: none;
}

.idx-tbl table .st1 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  height: 80px;
  z-index: 1;
}

.idx-tbl table .st1 .wdt {
  width: 20%;
}


.idx-tbl table tbody td input.hiduke-base {
  color: #040404;
  background: #f5f5f5;
  font-size: 0.9em;
  /*width: 100px;*/
}

.idx-tbl table tbody td input.hiduke-sun {
  color: #dc143c;
  background: #f5f5f5;
  font-size: 0.9em;
  /*width: 100px;*/
}

.idx-tbl table tbody td input.hiduke-sat {
  color: #00008b;
  background: #f5f5f5;
  font-size: 0.9em;
  /*width: 100px;*/
}

.idx-tbl table tbody td input.hiduke-hld {
  color: #dc143c;
  background: #ffdab9;
  font-size: 0.9em;
  /*width: 100px;*/
}


span.hiduke-base {
  color: #040404;
  background: #f5f5f5;
  font-size: 0.9em;
  /*width: 100px;*/
}

span.hiduke-sun {
  color: #dc143c;
  background: #f5f5f5;
  font-size: 0.9em;
  /*width: 100px;*/
}

span.hiduke-sat {
  color: #00008b;
  background: #f5f5f5;
  font-size: 0.9em;
  /*width: 100px;*/
}

span.hiduke-hld {
  color: #dc143c;
  background: #ffdab9;
  font-size: 0.9em;
  /*width: 100px;*/
}


.youbi {
  width: 1%;
}

#shinseis_flag {
  display: none;
}

.kinshi {
  display: none;
}

.idx-tbl table tbody td.youbi {
  vertical-align: middle;
}

.idx-tbl table tbody td.youbi span.youbi-sun {
  color: #dc143c;
}

.idx-tbl table tbody td.youbi span.youbi-sat {
  color: #00008b;
}

/* 出退勤時間背景色 */
.idx-tbl table tbody td input.checked-time {
  background-color: #e0ffff;
}

.idx-tbl table tbody td input.alert-time {
  background-color: #ffc0cb;
}

/* エラーメッセージ色 */
.success {
  background-color: #e0ffff;
  color: #000080;
  font-weight: bold;
  padding: 18px;
  margin: 9px;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
}

.warnings {
  background-color: #ffc0cb;
  color: #ff0000;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  vertical-align: middle;
  text-align: left;
  border-radius: 8px;
}

.pass00 {
  background-color: #e0ffff;
  color: #000080;
  font-weight: bold;
  padding: 18px;
  margin: 9px;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
}

.pass01 {
  background-color: #ffc0cb;
  color: #ff0000;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  vertical-align: middle;
  text-align: left;
  border-radius: 8px;
}

/* base */
div.disp div.base-w {
  width: 100%;
}

div.disp nav.navbar-bgc {
  background-color: #6a5acd;
}

nav.navbar-default .navbar-header a.navbar-fntc {
  color: #ffffff;
}

nav.navbar-default div.collapse ul.nav li a.navbar-fntc {
  color: #ffffff;
}

/* home */
div.disp nav.navbar-bgc {
  background-color: #6a5acd;
}

nav.navbar div.navbar-header a.navbar-fntc {
  color: #ffffff;
}

/* users_nenkyu */
#adm-tbl table thead tr.st3 {
  position: sticky;
  position: -webkit-sticky;
  height: 50px;
  top: 0;
  border: none;
  background: #ffffff;
  z-index: 1;
}

/* ページ概要 */
#kintai-input {
  width: 95%;
}

/* select linkページ */
#myClock {
  color: #6a5acd;
}

/* 旧バージョンサーチエンジン対応全角-半角 */
#hlf {
  ime-mode: inactive;
  ime-mode: disabled;
}

.btn.btn-loyal {
  background-color: #00008b;
  color: #ffffff;
}

.btn.btn-gr {
  background-color: #4169e1;
  color: #ffffff;
}

.btn.btn-purple {
  background-color: #6a5acd;
  color: #ffffff;
}

.btn.btn-blue {
  background-color: #1e90ff;
  color: #ffffff;
}

#for_logout_mes {
  color: #ff0000;
  font-weight: bold;
}

@media screen and (max-width: 599px) {}

@media screen and (max-width: 1024px) {}

/*
div.disp {
  position: relative;
}

div.disp::before {
  content: "";
  display: block;
  width: 100%;
}
*/
/*
div.disp {
  font-size: 95%;
  transform: scale(1);
}
*/

/* ポップアップ */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* テーブルフィルタ */
/* === フィルタボタン ============================ */
.tfArea {
  display: inline-block;
  position: relative;
}

.tfImg {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #eee;
  border: 1px solid #777;
  margin: 1px 3px;
  padding: 3px;
  cursor: pointer;
}

/* === フィルタボタン（カーソルオーバー時）======= */
.tfImg:hover {
  background: #FFD700;
}

/* === フィルタボタン内の画像色（SVG）============ */
.tfImg path {
  fill: #777;
}

/* === フィルタリスト ============================ */
.tfList {
  display: inline-block;
  position: absolute;
  max-width: 250px;
  min-width: 140px;
  background: #fff;
  border: 1px solid #777;
  top: 15px;
  left: 0;
  line-height: 1.1;
  font-weight: normal;
}

/* === フィルタリスト内のform ==================== */
.tfList form {
  max-height: 150px;
  /* 縦幅 */
  overflow: scroll;
  overflow: overflow-y;
  overflow: auto;
}

/* === フィルタリスト内のチェックボックス ======== */
.tfMeisai {
  text-align: left;
  padding: 2px;
}

/* === フィルタリスト内の文字位置合わせ ========== */
.tfMeisai label {
  padding: 0 10px 0 3px;
}

/* === OK/CANCELボタン =========================== */
.tfBtnArea {
  text-align: center;
  font-size: 8pt;
  padding: 3px 5px;
}

.tfBtnArea input {
  display: inline-block;
  margin: 0 5px;
}

/* === 含むボタンの入力エリア ==================== */
.tfInStr {
  padding: 5px 3px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.tfInStr input {
  box-sizing: border-box;
  width: 100%;
  padding: 1px 3px;
  font-weight: normal;
  font-size: 95%;
  border: 1px solid #ccc;
}

/* === フィルタ非表示 ============================ */
#fv-table tr[cmanFilterNone] {
  display: none;
}

/* === フィルタ非表示行と次行の間を二重線にする == */
#fv-table tr[cmanFilterNone]+tr td {
  border-top: 3px double #777;
}

caption.disp_csv {
  padding: 0.5em;
  /* 文字周りの余白 */

  font-weight: bold;
  /* 太字に */
  caption-side: top;
}